.DS_Store
.idea
api/lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

api/pids
api/logs
api/results
api/libs/public/docs
api/npm-debug.log
api/node_modules
www/node_modules
scheduler/node_modules
*.swl
*.swm
*.swn
*.swo
*.swp
*.pyc
