[submodule "depends/mongo-c-driver"]
	path = depends/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver
	branch = 1.2.0-dev
[submodule "depends/mongo-cxx-driver"]
	path = depends/mongo-cxx-driver
	url = https://github.com/etano/mongo-cxx-driver.git
	branch = master
[submodule "src/apps/anc"]
	path = src/apps/anc
	url = git@gitlab.phys.ethz.ch:ebrown/anc.git
[submodule "src/apps/spin_glass_solver"]
	path = src/apps/spin_glass_solver
	url = git@gitlab.phys.ethz.ch:ebrown/spin_glass_solver.git
[submodule "src/apps/XXcode"]
	path = src/apps/XXcode
	url = git@gitlab.phys.ethz.ch:gmazzola/XXcode.git
