html, body {
    background-color: black;
    margin: 0;
    padding: 0;
}
section#upload {
    color: rgb(200,200,200);
    text-align: center;
    font-size: 14px;
    font-family: arial;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    background-color: #333;
    width: 200px;
    border-radius: 10px;
}
section#logo {
    display: block;
    color: white;
    font-family: verdana;
    font-size: 11px;
    padding-left: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(100,220,255);
}
input {
    display: none;
}
label {
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 10px;
    cursor: pointer;
}
label.complete {
    background-color: rgb(100,220,255);
    color: white;
}
label.failed {
    background-color: rgb(255,134,205);
    color: white;
}
