<% include header %>
<% include menu %>

<h2>Admin</h2>
<h3>Users</h3>
<div id="users"></div>
<h3>New user</h3>
<div class="form" id="create-user">
    <label for="username">Username:</label>
    <input autocapitalize="off" spellcheck="false" autocorrect="false" type="text" id="username" placeholder="Username" name="username" />
    <br/><br/>
    <label for="password">Password:</label>
    <input autocapitalize="off" spellcheck="false" autocorrect="false" type="password" id="password" placeholder="Password" name="password" />
    <br/><br/>
    <label for="password2">Confirm password:</label>
    <input autocapitalize="off" spellcheck="false" autocorrect="false" type="password" id="password2" placeholder="Password again" name="password2" />
    <br/><br/>
    <input type="button" id="submit" value="Register">
    <p id="response"></p>
</div>

<% include bottom %>
<script src="/javascripts/admin.js"></script>
<% include footer %>
